seed: 42
device: cuda
device_no: 1
print_freq: 30
output_dir: experiments
dataset:
    name: gtsrb
    n_labels: 43
    n_concepts: 43
    batch_size: 128
    num_workers: 4
    shuffle_dataset: True
    pin_memory: True
    data_path: ../data/raw/GTSRB/converted
    val_split: 0.8
    concepts_file: ../data/raw/GTSRB/concepts/concepts_per_class.csv
concept_predictor:
    log_dir: logs
    checkpoint_dir: models
    lr: 0.001
    epochs: 3
    lr_step: 10
    lr_gamma: 0.5
    early_stopping_patience: 15
    momentum: 0.9
    weight_decay: 5e-4
    freeze: False
    pretrained_weights: null
    criterion: bce_with_logits
    optimizer: sgd
    scheduler: cosine_annealing
    scheduler_params: 
        T_max: 10
        eta_min: 0
    fuzzy_loss:
        use_fuzzy_loss: True
        rules: 
            exactly_one_shape:
                rule: ExactlyOneShape
                fuzzy_lambda: 0.5 
                operators:
                    t_norm: godel_t_norm
                    t_conorm: godel_t_conorm
                    a_aggregation: godel_a_aggregation
                    e_aggregation: godel_e_aggregation
                params: 
                    shape_indices:
                        - 0
                        - 1
                        - 2
                        - 3
label_predictor:
    log_dir: logs
    checkpoint_dir: models
    lr: 0.001
    epochs: 2
    lr_step: 10
    lr_gamma: 0.5
    early_stopping_patience: 15
    momentum: 0.9
    weight_decay: 5e-4
    freeze: False
    pretrained_weights: null
    criterion: cross_entropy
    optimizer: adam
    scheduler: reduce_on_plateau
    scheduler_params: 
        mode: min
        factor: 0.5
        patience: 5
        min_lr: 0.00001
